*, 
*::after, 
*::before {
    box-sizing: border-box;
}

header{
    text-align: center;
    margin-top: 100px;
}

/* 
    CSS text shadow generated
    URL: https://html-css-js.com/css/generator/text-shadow/
 */
header h1{
    color: #333;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    font-size: 3rem;
}


body{
    margin: 0;
    font-size: 16px;
    line-height: 2;
    background-color: rgba(250, 235, 215, 0.819);

    /* 
        Code from Google Font
       Link: https://fonts.google.com/selection/embed
    */
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


.container {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
}

.card{
    width: 100%;
    /* background-color: aqua; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    width: 90%;
}

.card p{
    margin: 0;
    padding: 25px;
    font-size: 1.2rem;
    text-align: left;
    text-indent: 30px;
}

#horizontal-nav-bar{
    position: fixed;
    top: 0; /* The element will stick to the top of the page */
    width: 100%;
}

/* styling nav bar */
#horizontal-nav-bar ul{
    background-color: #734747;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: bold;
}

#horizontal-nav-bar ul li a{
    /* get rid of link apperance */
    text-decoration: none;

    color: #fff;
    font-size: 1.2rem;

    display: block; 
    padding: 16px 20px; /* Increase padding to make the nav bar taller */
    margin: 0;
}

/* nav bar hover effect */
#horizontal-nav-bar ul li a:hover{
    background-color: antiquewhite;
    border: 1px solid black;
    color: #333;    
}


#tablet-side-bar, #mobile-side-bar{
    position: fixed;
    top: 0;
    background-color: #734747;
    width: 120px;
    height: 100vh;
    padding: 10px;

    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

/* Navigation menu styles */
#tablet-side-bar nav, #mobile-side-bar nav{
    flex: 1; /* Allows the nav to take up available space */
    display: flex;
    flex-direction: column; /* Stack nav items vertically */
    justify-content: center; /* Center the ul vertically */
  }

#tablet-side-bar nav ul, #mobile-side-bar nav ul{

    list-style: none;
    margin-top: 30vh;
    padding: 0;

    /* background-color: rgba(255, 255, 255, 0.272); */
    text-align: center;
    font-weight: bold;
    width: 100%;
}

#tablet-side-bar nav ul li, #mobile-side-bar nav ul li{
    margin-bottom: 30px; /* Space between items */
}
  

#tablet-side-bar nav ul li a, #mobile-side-bar nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    margin: 0;
    padding: 16px 0px;
}

#tablet-side-bar nav ul li a:hover, #mobile-side-bar nav ul li a:hover{
    background-color: antiquewhite;
    color: #333;  
    border: 1px solid black;
} 



#logo-img{
    width: 200px;
    height: auto;
}

h2{
    text-align: center;
}

section{
    padding-top: 50px;
}

#about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-para{
    width: 75%;

    /* left indent */
    text-indent: 30px; 
    font-size: 1.5rem;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #734747;
    color: #fff;
    margin-top: 10px;
}


#hamburger-menu-button, #hide-sidebar-button{
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    margin: 10px;
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    top: 0;
}

.show-side-bar{
    transform: translateX(0);
}

.hide-side-bar{
    transform: translateX(-100%);
}

/* Mobile layout  (up to 600px) */
@media (max-width: 600px) {
    /* Mobile-specific styles */
    
    #about-para{
        font-size: 1.2rem;
    }

    .card{
        flex: 0 1 100%; /* Full width for small screens */
    }

    /* hide horizontal nav bar */
    #horizontal-nav-bar {
        display: none;
    }

    #tablet-side-bar{
        display: none;
    }

    #logo-img{
        width: 100px;
        height: auto;
    }

    #about-para{
        font-size: 1rem;
    }


}

/* Tablet layout from 600px up to 900px */
@media (min-width: 600px) and (max-width: 900px) {
    /* Tablet-specific styles */

    main, header{
        position: relative;
        left: 15%;
        width: 85%;
    }
    /* hide horizontal nav bar */
    #horizontal-nav-bar {
        display: none;
    }
    

    /* set card initial size to 48%, creating a two column layout */
    .card{
        flex: 0 1 48%;
    }

    #logo-img{
        width: 150px;
        height: auto;
    }

    #about-para{
        font-size: 1.2rem;
    }

    #hamburger-menu-button {
        display: none;
    }
    
    #mobile-side-bar{
        display: none;
    }
    /* show vertical side bar */
    #tablet-side-bar{
        display: block;
    }


}

/* Desktop layout (900px and above ) */
@media (min-width: 900px) {


    /* set card initial size to 30%, creating a three column layout */
    .card{
        flex: 0 1 30%;
    }

    /* hide vertical side bar */
    #tablet-side-bar{
        display: none;
    }
}
